@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.icon {
  mask-size: 100% !important;
  mask-repeat: no-repeat !important;

  &.icon-refresh {
    -webkit-mask: url('/icons/refresh.svg');

    &.animate {
      animation: spin 1s linear infinite;
    }
  }

  $icons: 'en', 'fr', 'refresh', 'eye', 'eye-off';

  @each $icon in $icons {
    &.icon-#{$icon} {
      mask: url('/icons/#{$icon}.svg');
    }
    &.bg-#{$icon} {
      background-repeat: no-repeat;
      background-image: url('/icons/#{$icon}.svg'), url('/icons/#{$icon}.png');
      background-size: 100%;
    }
  }
}
